# Byte‐compiled / optimized / DLL files / .cache / .egg-info / setup
__pycache__/
*.py[cod]
*$py.class
.cache
.pytest_cache
.ruff_cache
*.egg-info/
build/
.gradio

# secrets
.env

# wandb
wandb/

# datasets
data/processed/
data/raw/
old-data/

# outputs
outputs/

# venv
.venv